.venv/
.env
.cache/
wandb/
__pycache__/

braintreebank*/
subject_metadata/
speech_selectivity_data/
eval_results/

misc_Andrii/
quickstart.ipynb
r/
r_old/
_temp.ipynb
figures/.*
eval_results_old/*.DS_Store
.DS_Store