.venv/
.env
.cache/
wandb/
__pycache__/

braintreebank*/
btbench_subject_metadata/
btbench_speech_selectivity_data/
eval_results*/
eval_results_ss_sm/
eval_results_ss_dm/
eval_results_ss_sm_per_bin/

r/
figures/.*
eval_results_old/*.DS_Store
.DS_Store