.venv/
.env
.cache/
wandb/
__pycache__/

braintreebank*/
btbench_subject_trial_df/
btbench_speech_selectivity/
eval_results/

misc_Andrii/
quickstart.ipynb
r/
r_old/
_temp.ipynb
figures/.*
eval_results_old/*.DS_Store
